  <div class="navigation">
    <div class="navigation__container container">
      <ul class="navigation__list"><a class="navigation__link" href="#">
          <li class="navigation__item">Ссылка</li></a><a class="navigation__link" href="#">
          <li class="navigation__item">Ссылка</li></a><a class="navigation__link" href="#">
          <li class="navigation__item">Ссылка</li></a><a class="navigation__link" href="#">
          <li class="navigation__item">Ссылка</li></a><a class="navigation__link" href="#">
          <li class="navigation__item">Ссылка</li></a><a class="navigation__link" href="#">
          <li class="navigation__item">Ссылка</li></a><a class="navigation__link" href="#">
          <li class="navigation__item">Ссылка</li></a><a class="navigation__link" href="#">
          <li class="navigation__item">Ссылка</li></a><a class="navigation__link" href="#">
          <li class="navigation__item">Ссылка</li></a><a class="navigation__link" href="#">
          <li class="navigation__item">Ссылка</li></a><a class="navigation__link" href="#">
          <li class="navigation__item">Ссылка</li></a><a class="navigation__link" href="#">
          <li class="navigation__item">Ссылка</li></a><a class="navigation__link" href="#">
          <li class="navigation__item">Ссылка</li></a><a class="navigation__link" href="#">
          <li class="navigation__item">Ссылка</li></a><a class="navigation__link" href="#">
          <li class="navigation__item">Ссылка</li></a><a class="navigation__link" href="#">
          <li class="navigation__item">Ссылка</li></a><a class="navigation__link" href="#">
          <li class="navigation__item">Ссылка</li></a><a class="navigation__link" href="#">
          <li class="navigation__item">Ссылка</li></a><a class="navigation__link" href="#">
          <li class="navigation__item">Ссылка</li></a><a class="navigation__link" href="#">
          <li class="navigation__item">Ссылка</li></a></ul>
    </div>
  </div>
  <header>
    <div class="header__container container">
      <div class="header__content">
        <div class="header__left-side">
          <div class="header__brand"></div>
          <ul class="header__list"><a class="header__link" href="">
              <li class="header__item">Новости</li></a><a class="header__link" href="">
              <li class="header__item">Блоги</li></a><a class="header__link" href="">
              <li class="header__item">Магазин</li></a><a class="header__link" href="">
              <li class="header__item">Рубрики</li></a><a class="header__link" href="">
              <li class="header__item">О нас</li></a></ul>
        </div>
        <div class="header__right-side">
          <div class="header__burger ion-navicon"></div>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="slider-top">
      <div class="owl-carousel" id="owlSlider">
        <div class="slider-top__content">
          <div class="slider-top__info">
            <div class="slider-top__title">«Шаг за страх» — методичка о работе со своими и чужими страхами</div>
            <div class="slider-top__text">Квинтэссенция теории и практики работы со страхами. Специально для наших читателей мы собрали в компактной методичке материалы о таком мощном явлении, как человеческий страх. Скачивайте, изучайте, практикуйте, задавайте нам вопросы, делитесь методичкой с друзьями.</div>
            <button class="slider-top__read-more">Читать</button>
          </div><img class="slider-top__image slider__item" src="<%=image_path("slider/s-02.jpg")%>">
        </div>
      </div>
    </div>
    <div class="popular-posts__container">
      <div class="popular-posts__owl-carousel owl-carousel" id="owlPopularPosts">
        <div class="popular-posts__owl-carousel popular-posts__item"><a class="popular-posts__owl-carousel popular-posts__link" href="#">
            <div class="popular-posts__owl-carousel popular-posts__item-content">
              <div class="popular-posts__owl-carousel popular-posts__item-content_title">Как прошёл шестнадцатый онлайн-курс «Базовый HTML и CSS»</div>
            </div><img class="popular-posts__image" src="<%=image_path("popular-posts/s-01.jpg")%>"></a></div>
        <div class="popular-posts__owl-carousel popular-posts__item"><a class="popular-posts__owl-carousel popular-posts__link" href="#">
            <div class="popular-posts__owl-carousel popular-posts__item-content">
              <div class="popular-posts__owl-carousel popular-posts__item-content_title">РПЦ отказалась комментировать слова Поклонской о мироточивом бюсте Николая II</div>
            </div><img class="popular-posts__image" src="<%=image_path("popular-posts/s-02.jpg")%>"></a></div>
        <div class="popular-posts__owl-carousel popular-posts__item"><a class="popular-posts__owl-carousel popular-posts__link" href="#">
            <div class="popular-posts__owl-carousel popular-posts__item-content">
              <div class="popular-posts__owl-carousel popular-posts__item-content_title">Один блестящий и два хороших сериала на выходные «Патриот» о спецслужбах, «Диета из Санта-Клариты» о зомби и спин-офф «Черного списка»</div>
            </div><img class="popular-posts__image" src="<%=image_path("popular-posts/s-03.jpg")%>"></a></div>
        <div class="popular-posts__owl-carousel popular-posts__item"><a class="popular-posts__owl-carousel popular-posts__link" href="#">
            <div class="popular-posts__owl-carousel popular-posts__item-content">
              <div class="popular-posts__owl-carousel popular-posts__item-content_title">В Совете Федерации предложили запретить рекламу с картой РФ без Крыма</div>
            </div><img class="popular-posts__image" src="<%=image_path("popular-posts/s-04.jpg")%>"></a></div>
        <div class="popular-posts__owl-carousel popular-posts__item"><a class="popular-posts__owl-carousel popular-posts__link" href="#">
            <div class="popular-posts__owl-carousel popular-posts__item-content">
              <div class="popular-posts__owl-carousel popular-posts__item-content_title">Сирийская армия вошла в Пальмиру. Фотографии</div>
            </div><img class="popular-posts__image" src="<%=image_path("popular-posts/s-05.jpg")%>"></a></div>
        <div class="popular-posts__owl-carousel popular-posts__item"><a class="popular-posts__owl-carousel popular-posts__link" href="#">
            <div class="popular-posts__owl-carousel popular-posts__item-content">
              <div class="popular-posts__owl-carousel popular-posts__item-content_title">Длинный заголовок поста</div>
            </div><img class="popular-posts__image" src="<%=image_path("popular-posts/s-06.jpg")%>"></a></div>
      </div>
      <div class="popular-postsr__owl-carousel popular-posts__buttons">
        <button class="popular-posts__owl-carousel popular-posts__button-prev ion-ios-arrow-left arrow-prev"></button>
        <button class="popular-posts__owl-carousel popular-posts__button-next ion-ios-arrow-right arrow-next"></button>
      </div>
    </div>
    <div class="all-posts">
      <div class="all-posts__container container">
        <div class="all-posts__items-row">
            <div class="all-posts__item"><img class="all-posts__image" src="<%=image_path("popular-posts/s-01.jpg")%>">
                <div class="all-posts__info">
                    <div class="all-posts__title">Что мы слушали в феврале. Плейлист «Медузы»</div>
                </div>
            </div>
            <div class="all-posts__item"><img class="all-posts__image" src="<%=image_path("popular-posts/s-02.jpg")%>">
                <div class="all-posts__info">
                    <div class="all-posts__title">Что мы слушали в феврале. Плейлист «Медузы»</div>
                </div>
            </div>
            <div class="all-posts__item"><img class="all-posts__image" src="<%=image_path("popular-posts/s-03.jpg")%>">
                <div class="all-posts__info">
                    <div class="all-posts__title">Что мы слушали в феврале. Плейлист «Медузы»</div>
                </div>
            </div>
        </div>
        <div class="all-posts__items-row">
            <div class="all-posts__item"><img class="all-posts__image" src="<%=image_path("popular-posts/s-04.jpg")%>">
                <div class="all-posts__info">
                    <div class="all-posts__title">Что мы слушали в феврале. Плейлист «Медузы»</div>
                </div>
            </div>
            <div class="all-posts__item"><img class="all-posts__image" src="<%=image_path("popular-posts/s-05.jpg")%>">
                <div class="all-posts__info">
                    <div class="all-posts__title">Что мы слушали в феврале. Плейлист «Медузы»</div>
                </div>
            </div>
            <div class="all-posts__item"><img class="all-posts__image" src="<%=image_path("popular-posts/s-06.jpg")%>">
                <div class="all-posts__info">
                    <div class="all-posts__title">Что мы слушали в феврале. Плейлист «Медузы»</div>
                </div>
            </div>
        </div>
        <div class="all-posts__items-row">
            <div class="all-posts__item"><img class="all-posts__image" src="<%=image_path("popular-posts/s-01.jpg")%>">
                <div class="all-posts__info">
                    <div class="all-posts__title">Что мы слушали в феврале. Плейлист «Медузы»</div>
                </div>
            </div>
            <div class="all-posts__item"><img class="all-posts__image" src="<%=image_path("popular-posts/s-02.jpg")%>">
                <div class="all-posts__info">
                    <div class="all-posts__title">Что мы слушали в феврале. Плейлист «Медузы»</div>
                </div>
            </div>
            <div class="all-posts__item"><img class="all-posts__image" src="<%=image_path("popular-posts/s-03.jpg")%>">
                <div class="all-posts__info">
                    <div class="all-posts__title">Что мы слушали в феврале. Плейлист «Медузы»</div>
                </div>
            </div>
        </div>
        <div class="all-posts__items-row">
            <div class="all-posts__item"><img class="all-posts__image" src="<%=image_path("popular-posts/s-04.jpg")%>">
                <div class="all-posts__info">
                    <div class="all-posts__title">Что мы слушали в феврале. Плейлист «Медузы»</div>
                </div>
            </div>
            <div class="all-posts__item"><img class="all-posts__image" src="<%=image_path("popular-posts/s-05.jpg")%>">
                <div class="all-posts__info">
                    <div class="all-posts__title">Что мы слушали в феврале. Плейлист «Медузы»</div>
                </div>
            </div>
            <div class="all-posts__item"><img class="all-posts__image" src="<%=image_path("popular-posts/s-06.jpg")%>">
                <div class="all-posts__info">
                    <div class="all-posts__title">Что мы слушали в феврале. Плейлист «Медузы»</div>
                </div>
            </div>
        </div>
        <div class="all-posts__items-row">
            <div class="all-posts__item"><img class="all-posts__image" src="<%=image_path("popular-posts/s-01.jpg")%>">
                <div class="all-posts__info">
                    <div class="all-posts__title">Что мы слушали в феврале. Плейлист «Медузы»</div>
                </div>
            </div>
            <div class="all-posts__item"><img class="all-posts__image" src="<%=image_path("popular-posts/s-02.jpg")%>">
                <div class="all-posts__info">
                    <div class="all-posts__title">Что мы слушали в феврале. Плейлист «Медузы»</div>
                </div>
            </div>
            <div class="all-posts__item"><img class="all-posts__image" src="<%=image_path("popular-posts/s-03.jpg")%>">
                <div class="all-posts__info">
                    <div class="all-posts__title">Что мы слушали в феврале. Плейлист «Медузы»</div>
                </div>
            </div>
        </div>
        <div class="all-posts__items-row">
            <div class="all-posts__item"><img class="all-posts__image" src="<%=image_path("popular-posts/s-04.jpg")%>">
                <div class="all-posts__info">
                    <div class="all-posts__title">Что мы слушали в феврале. Плейлист «Медузы»</div>
                </div>
            </div>
            <div class="all-posts__item"><img class="all-posts__image" src="<%=image_path("popular-posts/s-05.jpg")%>">
                <div class="all-posts__info">
                    <div class="all-posts__title">Что мы слушали в феврале. Плейлист «Медузы»</div>
                </div>
            </div>
            <div class="all-posts__item"><img class="all-posts__image" src="<%=image_path("popular-posts/s-06.jpg")%>">
            <div class="all-posts__info">
              <div class="all-posts__title">Что мы слушали в феврале. Плейлист «Медузы»</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="team">
      <div class="team__container container">
        <div class="team__list">
          <div class="team__item"></div>
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
  <script src=<%= javascript_path("owl.carousel.min.js") %>></script>
