<div class="container">

    <div class="bs-docs-section">

        <div class="row">
            <div class="col-lg-12">
                <div class="bs-component">
                    <div class="jumbotron">
                        <h1 class="display-3">Страшная история на ночь Чунька Колода</h1>
                        <p>Рассказ "Чунька-колода" Марии Артемьевой из авторского сборника "Темная сторона российской провинции". Читает Руслан Покровский.</p>
                        <p><a class="btn btn-primary btn-lg" href="https://www.youtube.com/watch?v=ml_JuofnURw">Слушать</a></p>
                    </div>
                    <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
            </div>
        </div>

    </div>


    <div class="bs-docs-section">

        <div class="row" style="padding-bottom: 2em">
            <% @news.each do |item| %>
                <div class="col-lg-4">
                    <div class="bs-component">
                        <div class="card">
                            <h3 class="card-header"><a href="<%= news_path(item) %>" class="card-link"><%= item.title %></a></h3>
                            <%= image_tag(item.image.thumb.url, class: 'img-fluid', alt: 'Card image') %>
                            <div class="card-block fixed-height">
                                <p class="card-text"><%= item.announcement %></p>
                            </div>
                            <div class="card-footer text-muted text-xs-center">
                                <%= distance_of_time_in_words(Time.now, item.created_at) %> назад
                            </div>
                        </div>
                        <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
                </div>
            <% end %>
            <!--
                 <div class="col-lg-4">
                 <div class="bs-component">
                 <div class="card">
                 <h3 class="card-header"><a href="#" class="card-link">Жанровый синтез в хорроре</a></h3>
                 <img src="https://uproxx.files.wordpress.com/2013/10/hellraiser1.jpg?quality=100&w=650" class="img-fluid" alt="Card image">
                 <div class="card-block">
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 </div>
                 <div class="card-footer text-muted text-xs-center">
                 один день назад
                 </div>
                 </div>
                 <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
                 </div>

                 <div class="col-lg-4">
                 <div class="bs-component">
                 <div class="card">
                 <h3 class="card-header"><a href="#" class="card-link">Вниманию читателей и всем сочувствующим! </a></h3>
                 <img src="https://uproxx.files.wordpress.com/2013/10/hellraiser1.jpg?quality=100&w=650" class="img-fluid" alt="Card image">
                 <div class="card-block">
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 </div>
                 <div class="card-footer text-muted text-xs-center">
                 2 дня назад
                 </div>
                 </div>
                 <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
                 </div>

                 <div class="col-lg-4">
                 <div class="bs-component">
                 <div class="card">
                 <h3 class="card-header"><a href="#" class="card-link">Ранимый Ричард Бриттен</a></h3>
                 <img src="https://uproxx.files.wordpress.com/2013/10/hellraiser1.jpg?quality=100&w=650" class="img-fluid" alt="Card image">
                 <div class="card-block">
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 </div>
                 <div class="card-footer text-muted text-xs-center">
                 4 дня назад
                 </div>
                 </div>
                 <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
                 </div> -->
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        Пишите
                    </div>
                    <div class="card-block" id="feedback">
                        <form role="form">
                            <div class="form-group col-lg-4">
                                <label class="form-control-label" for="form-group-input">Ваше имя</label>
                                <input type="text" class="form-control" id="form-group-input" name="name">
                            </div>
                            <div class="form-group col-lg-4">
                                <label class="form-control-label" for="form-group-input">Ваш email</label>
                                <input type="text" class="form-control" id="form-group-input" name="email">
                            </div>

                            <div class="form-group col-lg-12">
                                <label class="form-control-label" for="form-group-input">Что хотите написать</label>
                                <textarea class="form-control" id="form-group-input" name="notes" rows="6"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
